# IDE and environment files
.idea/
.vscode/
*.pyc
__pycache__/
.env

# Notebook cache
.ipynb_checkpoints

# Data files - never commit data
data/
models/

# Ignore all code and notebooks
*.py
*.ipynb
*.joblib
